version: '3.8'

services:


  database:
    image: mariadb:10.5
    command: --default-authentication-plugin=mysql_native_password
    volumes:
      - "{{ data_dir }}/mysql:/var/lib/mysql"
    environment:
      MYSQL_PASSWORD: "{{ mysql_password }}"
      MYSQL_ROOT_PASSWORD: "{{ mysql_root_password }}"
      MYSQL_DATABASE: "panel"
      MYSQL_USER: "pterodactyl"
    networks:
      - data_net
  
  cache:
    image: redis:alpine
    networks:
      - cache_net

  panel:
    image: ghcr.io/pterodactyl/panel:v1.11.3
    networks:
      - {{ traefik_network }}
      - data_net
      - cache_net
    deploy:
      labels:
        - traefik.enable=true
        - traefik.http.services.{{ repository }}.loadbalancer.server.port=80
        - traefik.http.routers.{{ repository }}.rule=Host(`{{ inventory_hostname }}`)
        - traefik.http.routers.{{ repository }}.tls.certresolver=step-ca
        - traefik.http.routers.{{ repository }}.service={{ repository }}
    volumes:
      - "/etc/ssl/certs/ca-certificates.crt:/etc/ssl/certs/ca-certificates.crt"
      - "{{ data_dir }}/var/:/app/var/"
      #- "{{ data_dir }}:/etc/nginx/http.d/"
      - "{{ data_dir }}/logs/:/app/storage/logs/"
    environment:
      GODEBUG: netdns=1
      APP_URL: "{{ app_url }}"
      APP_TIMEZONE: "{{ app_timezone }}"
      APP_SERVICE_AUTHOR: "{{ app_service_author }}"
      TRUSTED_PROXIES: "{{ trusted_proxies }}" # Set this to your proxy IP
      MAIL_FROM: "{{ mail_from }}"
      MAIL_DRIVER: "{{ mail_driver }}"
      MAIL_HOST: "{{ mail_host }}"
      MAIL_PORT: "{{ mail_port }}"
      MAIL_USERNAME: "{{ mail_username }}"
      MAIL_PASSWORD: "{{ mail_password }}"
      MAIL_ENCRYPTION: "{{ mail_encryption | bool | lower }}"
      DB_PASSWORD: '{{ mysql_password }}'
      APP_ENV: "production"
      APP_ENVIRONMENT_ONLY: "false"
      CACHE_DRIVER: "redis"
      SESSION_DRIVER: "redis"
      QUEUE_DRIVER: "redis"
      REDIS_HOST: "cache"
      DB_HOST: "database"
      DB_PORT: "3306"

networks:
  {{ traefik_network }}:
    external: true
  data_net:
  cache_net:
